
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #772A32;
    flex-wrap: wrap;
    align-items: center;
}

.footer .footer-logo {
    max-height: 100px;

}

.footer p {
    max-width: 150px;
    display: flex;
    height: auto;
}

.footer p a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;

}

.footer img {
    margin: 0 50px;
}

@media all and (max-width: 531px) {
    div.footer {
        display: flex;
    }

    div.footer p {
        display: block;
        width: 100%;
        order: 1;
    }

    div.footer img {
        display: block;
        order: 2;
    }
}
