#logo {
    max-height: 150px;
    margin-left: 50px;
    margin-top: 20px;
}

div.top-navigation {
    max-height: 100px;
}

ul.nested-categories div, ul.nested-categories {
    float: right;
    vertical-align: top;
    list-style: none;
}

ul.nested-categories {
    margin-top: 30px;
    text-align: right;
}

ul.nested-categories li {
    float: right;
}

ul.nested-categories li a {
    text-decoration: none;
    color: #074241;
    margin-right: 20px;
}

ul.nested-categories {
    padding-bottom: 10px;
}

div#bottom-categories {
    display: flex;
    justify-content: flex-end;
}

div#bottom-categories ul {
    list-style: none;
    border-bottom: 10px solid #7A2633;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

div#bottom-categories ul li {
    display: inline-block;
    margin-right: 60px;
}

div#bottom-categories a {
    text-decoration: none;
    color: #074241;
    font-size: 2em;
}

a.link-page:hover {
    opacity: 0.8;
}

.search-input {
    padding: 10px 10px;
    height: 50px;
    position: relative;    
    display: inline-block;
    max-width: 175px;
  }
  
  .search-input::before {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
    display: block;
    position: absolute;
    width: 15px;
    z-index: 3;
    height: 15px;
    font-size: 20px;
    top: 11px;
    left: 16px;
    line-height: 32px;
    opacity: 0.6;
  }
  
  .search-input > input {
    width: 100%;
    font-size: 18px;
    border: none;
    line-height: 22px;
    padding: 5px 10px 5px 25px;
    height: 32px;
    position: relative;
  }
  
  .search-input > input:focus {
    outline: none;
  }

@media all and (max-width: 776px) {

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    nav div.top-navigation {
        width: 100%;
    }

    nav img#logo {
        margin: 20px 0 0 20px;
        padding: 0;
        max-width: 100px;
    }

    div#bottom-categories {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    div#bottom-categories ul li:last-of-type {
        margin-right: 5px;
    }

    div#bottom-categories ul li a {
        font-size: 1em;
    }

    div#bottom-categories ul {
        display: flex;
        justify-content: space-between;
    }

    div#bottom-categories ul li {
        margin: 0;
        display: flex;

    }

    div.apps-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

div.no-search-results {
    justify-content: center;
    text-align: center
}

div.no-search-results img {
    max-width:100%;
    height: auto;
    display: block;
}

div.no-search-results h2 {
    display: block;
    margin-bottom: 20px;
    margin-top: -20px;
    color: #7A2633;
}

button.link-page {
    color: #053533;
    margin-right: 15px;
}

button.link-page:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media all and (max-width: 1415px) {
    img#logo {
        max-height: 90px;
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media all and (max-width: 870px) {
    div#bottom-categories a {
        font-size: 1.5em;
    }    
}

@media all and (max-width: 510px) {
    .input-search {
        display: block;
        width: 120px!important;
    }
}

@media all and (max-width: 455px) {
    div.top-navigation li {
        font-size: 0.8em;
    }

    img#logo {
        max-width: 70px!important;
        margin-left: 5px!important;
        margin-top: 5px!important;
    }
}

@media all and (max-width: 360px) {
    div#bottom-categories a {
        font-size: 0.8em!important;
    }
}

@media all and (max-width: 535px) {
   ul.nested-categories {
        font-size: 20px!important;
    }
}

@media  all and (max-width: 417px) {
    form.search-input {
        display: block;
    }
}