
#logo {
    max-height: 150px;
    margin-left: 50px;
    margin-top: 20px;
}

div.top-navigation {
    max-height: 100px;
}

ul.nested-categories div, ul.nested-categories {
    float: right;
    vertical-align: top;
    list-style: none;
}

ul.nested-categories {
    margin-top: 30px;
    text-align: right;
}

ul.nested-categories li {
    float: right;
}

ul.nested-categories li a {
    text-decoration: none;
    color: #074241;
    margin-right: 20px;
}

ul.nested-categories {
    padding-bottom: 40px;
}

div#bottom-categories {
    display: flex;
    justify-content: flex-end;
}

div#bottom-categories ul {
    list-style: none;
    border-bottom: 10px solid #7A2633;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

div#bottom-categories ul li {
    display: inline-block;
    margin-right: 60px;
}

div#bottom-categories a {
    text-decoration: none;
    color: #074241;
    font-size: 2em;
}

@media all and (max-width: 776px) {

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    nav div.top-navigation {
        width: 100%;
    }

    nav img#logo {
        margin: 20px 0 0 20px;
        padding: 0;
        max-width: 100px;
    }

    div#bottom-categories {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    div#bottom-categories ul li a {
        font-size: 1em;
    }

    div#bottom-categories ul {
        display: flex;
        justify-content: space-between;
    }

    div#bottom-categories ul li {
        margin: 0;
        display: flex;

    }

    div.apps-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 1415px) {
    #logo {
        max-height: 90px;
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media all and (max-width: 870px) {
    div#bottom-categories a {
        font-size: 1.5em;
    }    
}

@media all and (max-width: 360px) {
    div#bottom-categories a {
        font-size: 0.8em!important;
    }
}
