.slider {
    position: relative;
    display: block;
    max-width: 1007px;
    height: auto;
    /*max-height: 600px;*/
    box-sizing: border-box;
    visibility: hidden;
    margin-top: 100px;
}

.slider-container {
    display: flex;
    justify-content: center;
}

.slider-frame {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
    transform: translate3d(0px, 0px, 0px);
    box-sizing: border-box;
}

.slider-list {
    transform: translate3d(-346px, 0px, 0px);
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 558px;
    width: 1384px;
    cursor: inherit;
    box-sizing: border-box;
}

.slider-slide {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    width: 173px;
    height: auto;
    box-sizing: border-box;
    margin: auto 0px;
}

.carrousel-pic {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    padding: 0.50em;
    margin: 0.50em;
    border: 0;
}

div.slick-slider button {
    display: inline-block!important;
    width: 75px!important;
    outline: none;
    border: 1px solid #074241;;
    text-transform: uppercase;
    background: #7A2633;

}

div.slick-slider {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

div.slick-list {
    width: 75%;
    display: inline-block;
}

.section-heading {
    text-align: center;
    margin: 60px 0 15px 0;
    color: #123636;
}

div.apps-wrapper {
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

div.news {
    min-width: 300px ;
    height: auto;
    text-align: center;
    color: #123636;
}

div.news h1 {
   border-bottom: 2px solid #7A2633;
}

div.news-wrapper {
    margin: 10px 0;
}

div.news-wrapper p, div.news-wrapper h4 {
    font-size: 1.3em;
    margin-top: 10px;
}
