@import url('https://fonts.googleapis.com/css?family=Marck+Script');

body {
    margin: 0 auto;
    font-family: "Marck Script", sans-serif;
    font-size: 24px;
    background: url(../images/background.jpg) center;
    background-size: cover;
}

.slider {
    position: relative;
    display: block;
    max-width: 1007px;
    height: auto;
    /*max-height: 600px;*/
    box-sizing: border-box;
    visibility: hidden;
    margin-top: 30px;
}

.slider-container {
    display: flex;
    justify-content: center;
}

.slider-frame {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
    transform: translate3d(0px, 0px, 0px);
    box-sizing: border-box;
}

.slider-list {
    transform: translate3d(-346px, 0px, 0px);
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 558px;
    width: 1384px;
    cursor: inherit;
    box-sizing: border-box;
}

.slider-slide {
    top: 0;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    width: 173px;
    height: auto;
    box-sizing: border-box;
    margin: auto 0px;
}

.carrousel-pic {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    padding: 0.50em;
    margin: 0 auto;
    border: 0;
}


div.slick-slide {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

div.slick-list {
    width: 75%;
    display: inline-block;
}

.section-heading {
    text-align: center;
    margin: 40px 0 15px 0;
    color: #123636;
    font-weight: 100;
}

div.apps-wrapper {
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

div.news {
    min-width: 300px ;
    height: auto;
    text-align: center;
    color: #123636;
}

div.news h1 {
   border-bottom: 2px solid #7A2633;
   font-weight: 100;
}

div.news-wrapper {
    margin: 10px 0;
}

div.news-wrapper p, div.news-wrapper h4 {
    font-size: 1.3em;
    margin-top: 10px;
}

h1.home-main-header {
    text-align: center;
    color: #123636;
    margin-top: 30px;
    font-weight: 100;
}

.news-datetime {
    border-bottom: 1px solid #801534; 
}

h1.page-header {
    color: #123636;
    text-align: center;
    font-weight: 100;
    margin-top: 20px 
}

div.orders {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


div.single-order {
    display: inline-block;
    align-content: center;
}

div.single-order img {
    max-width: 350px;
    max-height: 220px;
}
@media all and (max-width: 695px) { 
    div.news {
        margin-top: 30px;
    }
    div.apps-wrapper {
        margin-top: 30px;
    }
}
@media all and (max-width: 575px) {
    h1.home-main-header {
        font-size: 36px;
    }

    h1.section-heading {
        font-size: 36px;
        margin: 15px 0 15px 0;
    }

    div.news h1 {
        font-size: 36px;
    }

    div.news h4.single-new-title {
        font-size: 26px;
    }

    div.news-wrapper p {
        font-size: 1.1em;
    }
}