@import url('https://fonts.googleapis.com/css?family=Marck+Script');

body {
    margin: 0 auto;
    font-family: "Marck Script", sans-serif;
    font-size: 24px;
    background: url(../images/background.jpg) center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.green-text {
    color: #123636;
}
