@import url('https://fonts.googleapis.com/css?family=Marck+Script');

body {
    margin: 0 auto;
    font-family: "Marck Script", sans-serif!important;
    font-size: 24px;
    background: url(../images/background.jpg) center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.green-text {
    color: #123636;
}

button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
