* {
    box-sizing: border-box;
}

div.title-container {
    margin-top: 40px;
    text-align: center;
}

div#content-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left:calc(100% - 93%) ;
    padding-right:calc(100% - 93%) ;
    flex-grow: 1;
    margin: 50px 0;
}

div.product-container {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42;
    border-radius: 4px;
    position: relative;
}

div.product-container:hover {
    box-shadow: 5px 5px 10px #888888;
}

.product-img {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 220px;
    /* width: 250px;  */
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.product-thumb {
    text-align: center;
    padding: 15px;
}

a {
    text-decoration: none;
}

.product-thumb h3 {
    text-decoration: none;
    color: #7A2633;
    border: none;
}

div.search-plugins {
    display: flex;
    text-align: left;
    padding-left: calc(100% - 90%);
    max-width: 300px;
}

input.search-bar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../images/search-icon.png);
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.search-bar:focus {
    width: 200px;
}

@media all and (max-width: 400px) {
}