@import url('https://fonts.googleapis.com/css?family=Marck+Script');

body {
    margin: 0 auto;
    font-family: "Marck Script", sans-serif;
    font-size: 24px;
    background: url(resources/images/background2.jpg) center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
